$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
@import url($web-font-path);

$state-info-text:              #1A92B7;

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$navbar-height:            80px;

$navbar-default-bg:        #fff;
$navbar-default-border:    darken($navbar-default-bg, 6.5%);

$nav-link-padding: 10px 20px;

$well-bg:                     #FAFAFA;
$well-border:                 darken($well-bg, 6.5%);


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin-top: $navbar-height + 10;
}

.navbar-nav > li > a {
    font-weight: 500;
}

.navbar-brand  {
    padding: 20px 20px;
}

.nav-goals-strip {
    height: 10px;
    width: 100%;
    display:block;
    font-size: 1em;
    line-height: 0.8;
}

.nav-goals-strip-item {
    width: 5.88%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.well{
    box-shadow: none;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.row .col-no-pad{
    padding: 0px;
}

.sdg-img{
    max-width: 100%;
}

.listing{
    padding-top: 20px;
}

.listing .indicator-target{
    padding-bottom: 5px;
}

.listing .result-header{
    padding-bottom: 5px;
}

.result-header .result-object-type{
    margin-top: ($line-height-computed / 2);
    font-size: 70%;
}

.search-facets{
    margin-top: 20px;
}
@media screen and (min-width: 768px) {

    .container.container-narrow{
        max-width: 800px;
    }

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 766px) {
    .sdg-img{
        width: 100%;
    }
}

@media (min-width: 1024px){
    #site-search {
        width: 420px;
    }
}
