<div class="page-header-dg">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center">
                <img  class="img-responsive" ng-src="{{ component.image_medium }}">
            </div>
            <div class="col-sm-8">
                <h1><strong>{{ component.name }}</strong></h1>
                <h4 class="subtitle">
                    <div class="row">
                      <div class="col-sm-2"><strong class="text-muted" translate>Data source</strong>:</div>
                      <div class="col-sm-10">{{ component.data_source }}</div>
                    </div>
                </h4>
                <div class="text-right">
                    <a ng-href="{{ settings.API_ROOT_URL }}/progress?component={{ component.id }}&format=csv"
                            class="btn btn-lg btn-default" target="_self">
                        <i class="fa fa-download"></i> <strong translate>Download Data</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-wrapper">

    <div class="text-center text-muted loading-spinner" ng-if="loading">
        <i class="fa fa-spin fa-3x fa-spinner spinner"></i>
    </div>

    <div class="container container-narrow">

        <div class="panel panel-default panel-widget" ng-if="component.description">
            <div class="panel-body">
                {{ component.description }}
            </div>
        </div>

        <div id="components-charts">
            <div ng-repeat="chart in component.charts" class="panel panel-default">
                <div class="page-header">
                    <h2 class="text-center">
                        <a class="text-default" ng-href="/components/{{ component.id }}/{{ component.slug }}">
                            <strong>{{ chart.title }}</strong>
                        </a>
                    </h2>
                    <h3 ng-if="component.value_unit" class="subtitle text-center text-info" style="color: {{ color.primary }}">
                        ({{ component.value_unit }})
                    </h3>
                </div>
                <div class="container-fluid">
                    <nvd3 ng-if="!chart.hasOneValue" options="chart.options"
                            data="chart.data">
                    </nvd3>
                    <div ng-if="chart.hasOneValue" class="text-center chart-single-value jumbotron">
                        <div><strong class="text-muted">{{ chart.data[0].values[0].area_name }}</strong></div>
                        <h1 style="color: {{ goal.extras.color_primary }}">
                            {{ chart.data[0].values[0].value|number }}
                        </h1>
                        <h3 ng-if="component.value_unit" class="subtitle">{{ component.value_unit }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="components-maps">
            <div ng-repeat="map in component.maps" class="panel panel-default">
                <div class="page-header">
                    <a class="text-default" ng-href="/components/{{ component.id }}/{{ component.slug }}">
                        <h2 class="text-center">
                            <strong>{{ map.title }}</strong>
                            <span class="text-info" ng-if="component.value_unit">({{ component.value_unit }})</span>
                        </h2>
                    </a>
                </div>
                <leaflet id="{{ map.id }}" style="height: 500px;background:#EEE;display:block"
                        defaults="map.options.defaults" lf-center="map.options.center">
                </leaflet>
            </div>
        </div>

        <div id="components-tables">
            <div>
                <div ng-repeat="(areaType, progress) in component.progress">
                    <div class="panel panel-default">
                        <div class="page-header">
                            <h3 class="text-center">
                                <a class="text-default" ng-href="/components/{{ component.id }}/{{ component.slug }}">
                                    <strong>{{ component.name }}</strong>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-scrollable table-progress">
                                <thead>
                                    <tr>
                                        <th translate>Area</th>
                                        <th translate>Year</th>
                                        <th class="text-right" translate>Value <span ng-if="component.value_unit">({{ component.value_unit }})</span></th>
                                        <th class="text-center" translate>Group</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in progress">
                                        <td>{{ p.area_name }}</td>
                                        <td ng-if="component.extras.frequency != 'fiscal year'">{{ p.year }}</td>
                                        <td ng-if="component.extras.frequency == 'fiscal year'">{{ p.fiscal_year }}</td>
                                        <td class="text-right">{{ p.value|number }}</td>
                                        <td class="text-center">{{ p.groups.join(', ') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <a class="btn btn-primary" target="_self"
                                    ng-href="{{ settings.API_ROOT_URL }}/progress?component={{ component.id }}&area_type_name={{ areaType }}&format=csv">
                                <i class="fa fa-download"></i> <span translate>Download data</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
