<div class="page-header-dg themed" style="background: {{ goal.extras.color_primary }}">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="sdg-img" ng-src="{{ goal.image_medium }}">
            </div>
            <div class="col-md-8">
                <h4><a class="subtitle" ng-href="/">{{ goal.plan_name }}</a></h4>
                <h1>{{ goal.description }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-wrapper">
    <div class="container">

        <div class="listing">

            <div class="row">
                <div class="col-sm-3">
                    <div class="box-md-wrapper panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <h2 class="text-center text-uppercase" translate>Targets</h2>
                            </div>

                            <div class="panel-body">
                                <div class="timeline">
                                    <div class="line text-muted"></div>
                                    <div class="separator" ng-repeat-start="target in targets.results">
                                        <h2>
                                            <a style="color:{{ goal.extras.color_primary }}"
                                                    ng-href="/targets/{{ target.id }}/{{ target.slug }}">
                                                {{ target.code }}
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="panel panel-default panel-outline">
                                        <div class="panel-heading icon" >
                                            <a ng-href="/targets/{{ target.id }}/{{ target.slug }}" style="color: {{ goal.extras.color_primary }}"><i class="fa fa-dot-circle-o"></i></a>
                                        </div>
                                        <div class="panel-body">
                                            <a class="text-default" ng-href="/targets/{{ target.id }}/{{ target.slug }}">{{ target.name }}</a>
                                        </div>
                                    </div>
                                    <span ng-repeat-end></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="page-header">
                            <h2 class="text-uppercase" translate>Indicators</h2>
                        </div>
                        <div ng-repeat="indicator in indicators.results" class="col-sm-4 col-no-pad">
                            <div class="box-md-wrapper panel panel-default">
                                <a ng-href="/indicators/{{ indicator.id }}/{{ indicator.slug }}"
                                    class="box-md text-default">
                                    <div class="page-header box-md-header">
                                        <div class="row">
                                            <div class="col-sm-4 text-center">
                                                <strong class="text-uppercase" translate>Indictor</strong>
                                                <h2 style="color: {{ goal.extras.color_primary }}">{{ indicator.code }}</h2>
                                            </div>
                                            <div class="col-sm-8">
                                                <div>{{ indicator.name|truncatechars:150 }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="panel-footer text-right">
                                    <a class="btn btn-default btn-sm"
                                            ng-href="/indicators/{{ indicator.id }}/{{ indicator.slug }}"
                                            style="color: {{ goal.extras.color_primary }}">
                                        <i class="fa fa-line-chart"></i>
                                        <translate>View</translate>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
