<div class="page-header-dg themed" style="background: {{ goal.extras.color_primary }}">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="sdg-img" ng-src="{{ goal.image_medium }}">
            </div>
            <div class="col-md-8">
                <h4><a class="subtitle" ng-href="/">{{ goal.plan_name }}</a></h4>
                <h1>{{ goal.description }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="text-center text-muted" ng-if="loading">
        <i style="color: {{ goal.extras.color_primary || 'inherit' }}" class="fa fa-spin fa-3x fa-spinner"></i>
    </div>

    <div class="row">
        <div ng-if="targets.results" class="col-sm-3 col-no-pad pane-left">
            <div>
                <div>
                    <div class="page-header">
                        <h4 class="text-center text-uppercase" style="color: {{ goal.extras.color_primary }}" translate>
                            <span class="text-muted" ng-bind="targets.results.length"></span>
                            Targets
                        </h4>
                    </div>

                    <div ng-repeat="target in targets.results" class="pane-li">
                        <div class="row">
                            <div class="col-xs-2 text-center">
                                <a style="color:{{ goal.extras.color_primary }}"
                                        ng-href="/targets/{{ target.id }}/{{ target.slug }}">
                                    <strong>{{ target.code }}</strong>
                                </a>
                            </div>
                            <div class="col-xs-10">
                                <div>
                                    <a class="text-default" ng-href="/targets/{{ target.id }}/{{ target.slug }}">{{ target.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-no-pad" ng-if="indicators.results">
            <div class="container-wrapper">
                <div class="container-fluid">
                    <div class="listing">
                        <div class="page-header">
                            <h2 class="text-uppercase" translate>
                                <span class="text-muted" ng-bind="indicators.results.length"></span>
                                Indicators
                            </h2>
                        </div>
                        <div ng-repeat="indicator in indicators.results" class="col-sm-4 col-no-pad">
                            <div class="box-md-wrapper panel panel-default">
                                <a ng-href="/indicators/{{ indicator.id }}/{{ indicator.slug }}"
                                    class="box-md text-default">
                                    <div class="page-header box-md-header">
                                        <div class="row">
                                            <div class="col-sm-4 text-center">
                                                <strong class="text-uppercase" translate>Indictor</strong>
                                                <h2 style="color: {{ goal.extras.color_primary }}">{{ indicator.code }}</h2>
                                            </div>
                                            <div class="col-sm-8">
                                                <div>{{ indicator.name|truncatechars:150 }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="panel-footer text-right">
                                    <a class="btn btn-default btn-sm"
                                            ng-href="/indicators/{{ indicator.id }}/{{ indicator.slug }}"
                                            style="color: {{ goal.extras.color_primary }}">
                                        <i class="fa fa-line-chart"></i>
                                        <translate>View</translate>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
