
<div class="page-header-dg" style="background: {{ goal.extras.color_primary }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center">
                <h3 class="text-uppercase" translate>Indicator</h3>
                <h1>{{ indicator.code }}</h1>
            </div>
            <div class="col-sm-8">
                <h4>
                    <a class="subtitle" ng-href="/">{{ indicator.plan_name }}</a>
                </h4>
                <h1>
                    {{ indicator.name }}
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container-wrapper">

    <div class="container container-narrow">

        <div class="panel panel-default panel-widget">
            <div class="panel-body">
                <div class="row page-info">
                    <div class="col-sm-2 text-center">
                        <strong class="text-uppercase" translate>Goal No</strong>
                        <h2 style="color: {{ goal.extras.color_primary }}">{{ indicator.goal_code }}</h2>
                    </div>
                    <div class="col-sm-10">
                        <div class="lead text-muted">
                            <a class="" ng-href="/goals/{{ goal.id }}/{{ goal.slug }}"  style="color: {{ goal.extras.color_primary }}">{{ goal.description }}</a>
                        </div>
                        <div>
                            <strong style="color: {{ goal.extras.color_primary }}" translate>Target</strong>: {{ target.description||'-' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="components-charts">
            <div ng-repeat="component in components.results" class="panel panel-default">
                <div class="page-header">
                    <h2 class="text-center">{{ component.name }}</h2>
                </div>
                <div class="container-fluid">
                    <nvd3 ng-if="component.progress && component.progress.length && component.target_value" options="barChart"
                            data="component.chart">
                    </nvd3>
                    <nvd3 ng-if="component.progress && component.progress.length && !component.target_value" options="barChart"
                            data="component.chart">
                    </nvd3>
                </div>
            </div>
        </div>

        <div id="components-tables">
            <div class="row">
                <div ng-repeat="component in components.results" class=col-md-6>
                    <div class="panel panel-default">
                        <div class="page-header">
                            <h2 class="text-center">{{ component.name }}</h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th translate>AREA</th>
                                        <th translate>YEAR</th>
                                        <th class="text-right" translate>VALUE <span ng-if="component.value_unit">({{ component.value_unit }})</span></th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="progress in component.progress">
                                    <td>{{ progress.area_name }}</td>
                                    <td>{{ progress.year }}</td>
                                    <td class="text-right">{{ progress.value }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <a class="btn btn-primary"
                                    href="{{ settings.API_ROOT_URL }}/progress?component={{ component.id }}&format=csv" translate>
                                Download data
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="indicator-metadata">
        </div>

    </div>
</div>
