
<div class="page-header-dg themed" style="background: {{ goal.extras.color_primary }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center">
                <h3 class="text-uppercase" translate>Indicator</h3>
                <h1>{{ indicator.code }}</h1>
            </div>
            <div class="col-sm-8">
                <h4>
                    <a class="subtitle" ng-href="/">{{ indicator.plan_name }}</a>
                </h4>
                <h1>
                    {{ indicator.name }}
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container-wrapper">

    <div class="container container-narrow">

        <div class="panel panel-default panel-widget">
            <div class="panel-body">
                <div class="row page-info">
                    <div class="col-sm-2 text-center">
                        <strong class="text-uppercase" ng-if="indicator.goal_code" translate>Goal No</strong>
                        <a ng-href="/goals/{{ goal.id }}/{{ goal.slug }}"><h2 style="color: {{ goal.extras.color_primary }}">{{ indicator.goal_code }}</h2></a>
                    </div>
                    <div class="col-sm-10">
                        <div class="lead text-muted">
                            <a class="" ng-href="/goals/{{ goal.id }}/{{ goal.slug }}"  style="color: {{ goal.extras.color_primary }}">{{ goal.description }}</a>
                        </div>
                        <div>
                            <strong style="color: {{ goal.extras.color_primary }}" ng-if="target.description" translate>Target</strong>:
                            <a class="text-default" ng-href="/targets/{{ target.id }}/{{ target.slug }}">{{ target.description||'-' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="components-charts">
            <div ng-repeat="component in components.results">
                <div ng-repeat="chart in component.charts" class="panel panel-default">
                    <div class="page-header">
                        <h2 class="text-center">
                            <a class="text-default" ng-href="/components/{{ component.id }}/{{ component.slug }}">
                                <strong>{{ chart.title }}</strong>
                            </a>
                        </h2>
                    </div>
                    <div class="container-fluid">
                        <nvd3 ng-if="!chart.hasOneValue" options="chart.options"
                                data="chart.data">
                        </nvd3>
                        <div ng-if="chart.hasOneValue" class="text-center chart-single-value jumbotron">
                            <div><strong class="text-muted">{{ chart.data[0].values[0].area_name }}</strong></div>
                            <h1 style="color: {{ goal.extras.color_primary }}">
                                {{ chart.data[0].values[0].value|number }}
                            </h1>
                            <h3 ng-if="component.value_unit" class="subtitle">{{ component.value_unit }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="components-tables">
            <div ng-repeat="component in components.results">
                <div ng-repeat="(areaType, progress) in component.progress">
                    <div class="panel panel-default">
                        <div class="page-header">
                            <h3 class="text-center">
                                <a class="text-default" ng-href="/components/{{ component.id }}/{{ component.slug }}">
                                    <strong>{{ component.name }}</strong>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-scrollable table-progress">
                                <thead>
                                    <tr>
                                        <th translate>Area</th>
                                        <th translate>Year</th>
                                        <th class="text-right" translate>Value <span ng-if="component.value_unit">({{ component.value_unit }})</span></th>
                                        <th class="text-center" translate>Group</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in progress">
                                        <td>{{ p.area_name }}</td>
                                        <td>{{ p.year }}</td>
                                        <td class="text-right">{{ p.value|number }}</td>
                                        <td class="text-center">{{ p.groups.join(', ') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <a class="btn btn-primary"
                                    ng-href="{{ settings.API_ROOT_URL }}/progress?component={{ component.id }}&area_type={{ areaType }}&format=csv">
                                <i class="fa fa-download"></i> <span translate>Download data</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="indicator-metadata">
        </div>

    </div>
</div>
