<div class="page-header-dg">
    <div class="container">
        <div class="row" ng-if="plan.id">
            <div ng-if="plan.image_medium" class="col-sm-2 text-center">
                <img  class="img-responsive" ng-src="{{ plan.image_medium }}">
            </div>
            <div class="col-sm-10">
                <h1><strong>{{ plan.name }}</strong> <small><span class="text-info">({{ plan.code }})</span></small></h1>
                <h4 class="subtitle" ng-if="plan.caption">
                    <strong class="">{{ plan.caption }}</strong>
                </h4>
            </div>
        </div>
    </div>
</div>


<div class="container-wrapper">
    <div class="container">
        <div class="text-center text-muted loading-spinner" ng-if="loading">
            <i class="fa fa-spin fa-3x fa-spinner spinner"></i>
        </div>

        <div class="text-center">
            <div class="d-inline-block btn-circle btn-default btn-spaced"
                    ng-if="plan.extras.themes_count">
                <div class="text-info text-large text-transparent"><strong>{{ plan.extras.themes_count }}</strong></div>
                <div class="text-uppercase text-transparent"><strong translate>Themes</strong></div>
            </div>


            <div class="d-inline-block btn-circle btn-default btn-spaced"
                    ng-if="plan.extras.goals_count">
                <div class="text-info text-large text-transparent"><strong>{{ plan.extras.goals_count }}</strong></div>
                <div class="text-uppercase text-transparent"><strong translate>Goals</strong></div>
            </div>

            <div class="d-inline-block btn-circle btn-default btn-spaced"
                    ng-if="plan.extras.sectors_count">
                <div class="text-warning text-large text-transparent"><strong>{{ plan.extras.sectors_count }}</strong></div>
                <div class="text-uppercase text-transparent"><strong translate>Sectors</strong></div>
            </div>

            <div class="d-inline-block btn-circle btn-default btn-spaced"
                    ng-if="plan.extras.subsectors_count">
                <div class="text-warning text-large text-transparent"><strong>{{ plan.extras.subsectors_count }}</strong></div>
                <div class="text-uppercase text-transparent"><strong translate>Sub sectors</strong></div>
            </div>

            <div class="d-inline-block btn-circle btn-default btn-spaced"
                    ng-if="plan.extras.targets_count">
                <div class="text-warning text-large text-transparent"><strong>{{ plan.extras.targets_count }}</strong></div>
                <div class="text-uppercase text-transparent"><strong translate>Targets</strong></div>
            </div>

            <div class="d-inline-block btn-circle btn-default btn-spaced"
                    ng-if="plan.extras.indicators_count">
                <div class="text-warning text-large text-transparent"><strong>{{ plan.extras.indicators_count }}</strong></div>
                <div class="text-uppercase text-transparent"><strong translate>Indicators</strong></div>
            </div>
        </div>

        <div ng-if="themes.results.length">
            <div class="row">
                <div ng-repeat="theme in themes.results" class="col-sm-3 col-no-pad goal-box">
                    <a class="goal-box-container"   style="background: {{ theme.extras.color_primary }}"
                            ng-href="/themes/{{ theme.id }}/{{ theme.slug }}">
                        <div class="goal-box-body">
                            <h1 class="text-transparent text-center" ng-if="theme.code">
                                <strong>{{ theme.code }}</strong>
                            </h1>
                            <h3 class="text-center">{{ theme.name }}</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div ng-if="goals.results.length">
            <div class="row">
                <div ng-repeat="goal in goals.results" class="col-sm-2 col-no-pad"><a ng-href="/goals/{{ goal.id }}/{{ goal.slug }}"><img ng-src="{{ goal.image_medium }}" class="sdg-img"></a></div>
            </div>
        </div>
    </div>
</div>
