<div class="container-wrapper">
    <div class="container">

        <div class="search-facets">
            <span class="btn btn-primary">
                <span class="badge" ng->
                    <i class="fa fa-spinner fa-spin" ng-if='loading'></i>
                    {{ data.count }}
                </span>
                <translate>results</translate>
            </span>

            <a class="btn btn-default" ng-if="facets.object_type.goal" ng-click="update({'object_type': 'goal'})">
                <span class="badge">{{ facets.object_type.goal }}</span>
                <translate>goals</translate>
            </a>

            <span class="btn btn-default" ng-if="facets.object_type.target" ng-click="update({'object_type': 'target'})">
                <span class="badge">{{ facets.object_type.target }}</span>
                <translate>targets</translate>
            </span>

            <span class="btn btn-default" ng-if="facets.object_type.indicator" ng-click="update({'object_type': 'indicator'})">
                <span class="badge">{{ facets.object_type.indicator }}</span>
                <translate>indicators</translate>
            </span>

            <span class="btn btn-default" ng-if="facets.object_type.component" ng-click="update({'object_type': 'component'})">
                <span class="badge">{{ facets.object_type.component }}</span>
                <translate>components</translate>
            </span>

            <a class="btn btn-link" ng-if="!loading" ng-click="refresh({'q': lookup.search.q})">
                <span class="text-muted">
                    <i class="fa fa-refresh"></i>
                    <translate ng-if="lookup.search.object_type">all results</translate>
                    <translate ng-if="!lookup.search.object_type">refresh</translate>
                </span>
            </a>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <div class="listing" infinite-scroll="loadMore()" infinite-scroll-distance="2">
                    <div ng-repeat="result in data.results" class="panel panel-default" ng-click="goto_object(result.object_type, [result.id, result.slug])">
                        <div class="panel-body">
                            <div class="row">
                                <div ng-if="result.image_medium" class="col-sm-3 text-center">
                                    <img  class="img-responsive" ng-src="{{ result.image_medium }}">
                                </div>
                                <div ng-if="!result.image_medium" class="col-sm-3 text-center">
                                    <div class="jumbotron jumbotron-no-pad">
                                        <h3 class="text-uppercase text-muted" translate>{{ result.object_type }}</h3>
                                        <h1>{{ result.code }}</h1>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="result-header">
                                            <div class="page-header">
                                                <h3>
                                                    <a ng-href="{{ object_url(result.object_type, [result.id, result.slug]) }}" class="text-default">
                                                        <strong>{{ result.name }}</strong>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div>
                                                {{ result.description }}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-switch="indicator.stats_available" class="pull-right">
                                          <div ng-switch-when="YES" class="label label-success"><i class="fa fa-line-chart"></i> <translate>Statistics available</translate></div>
                                          <div ng-switch-when="PARTIALLY" class="label label-warning"><i class="fa fa-line-chart"></i> <translate>Some of statistics available</translate></div>
                                          <div ng-switch-when="NO" class="label label-danger"><i class="fa fa-line-chart"></i> <translate>Statistics not available</translate></div>
                                          <div ng-switch-when="UNKNOWN" class="label label-default"><i class="fa fa-line-chart"></i> <translate>Statistics availability: Unkonwn</translate></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" ng-show="loadingMore"><i class="fa fa-spinner fa-spin fa-2x text-info"></i></div>
                </div>

            </div>
        </div>

    </div>
</div>
