<div class="page-header-dg" ng-class="{themed: theme.extras.color_primary }"
        style="background: {{ theme.extras.color_primary }}">
    <div class="container">
        <div class="row">
            <div ng-if="theme.image_medium" class="col-sm-2 text-center">
                <img  class="img-responsive" ng-src="{{ theme.image_medium }}">
            </div>
            <div ng-if="!theme.image_medium" class="col-sm-2 text-center">
                <h3 class="text-uppercase" translate>Theme</h3>
                <h1>{{ theme.code }}</h1>
            </div>
            <div class="col-md-8">
                <h4 ng-if="theme.plan">
                    <a class="subtitle" ng-href="/plans/{{ plan.id }}/{{ plan.slug }}">
                        <strong class="subtitle">{{ theme.plan_name }}</strong>
                    </a>
                </h4>
                <h1><strong>{{ theme.name }}</strong></h1>
                <div ng-if="theme.caption" class="lead">{{ theme.caption }}</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="text-center text-muted" ng-if="loading">
        <i style="color: {{ theme.extras.color_primary || 'inherit' }}" class="fa fa-spin fa-3x fa-spinner"></i>
    </div>

    <div class="row">
        <div ng-if="sectors.results" class="col-sm-3 col-no-pad pane-left">
            <div>
                <div>
                    <div class="page-header">
                        <h4 class="text-center text-uppercase" style="color: {{ theme.extras.color_primary }}" translate>
                            Sectors
                        </h4>
                    </div>

                    <div ng-repeat="sector in sectors.results" class="pane-li">
                        <div class="row">
                            <div class="col-xs-2 col-xs-offset-{{ sector.level }} text-center">
                                <a style="color:{{ theme.extras.color_primary }}"
                                        ng-href="/sectors/{{ sector.id }}/{{ sector.slug }}">
                                    <strong>{{ sector.code }}</strong>
                                </a>
                            </div>
                            <div class="col-xs-{{ 10 - sector.level }}">
                                <div>
                                    <a class="text-default" ng-href="/sectors/{{ sector.id }}/{{ sector.slug }}">{{ sector.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-no-pad" ng-if="indicators.results">
            <div class="container-wrapper">
                <div class="container-fluid">
                    <div class="">
                        <div class="page-header page-header-md">
                            <h2 class="text-uppercase" translate>
                                <span class="text-muted" ng-bind="indicators.count"></span>
                                Indicators
                            </h2>
                        </div>
                        <div ng-repeat="indicator in indicators.results" class="col-sm-4 col-no-pad">
                            <div class="box-md-wrapper panel panel-default">
                                <a ng-href="/indicators/{{ indicator.id }}/{{ indicator.slug }}"
                                    class="box-md text-default">
                                    <div class="page-header page-header-md box-md-header">
                                        <div class="row">
                                            <div class="col-sm-4 text-center">
                                                <strong class="text-uppercase" translate>Indictor</strong>
                                                <h3 style="color: {{ theme.extras.color_primary }}">{{ indicator.code }}</h3>
                                            </div>
                                            <div class="col-sm-8">
                                                <div>{{ indicator.name|truncatechars:100 }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-if="indicator.progress_preview.length" class="row">
                                            <div class="col-xs-6 text-center">
                                                <strong>
                                                    {{ indicator.progress_preview[0].extras.component_name|truncatechars:85 }}
                                                </strong>
                                                <div>
                                                    <strong class="text-info">{{ indicator.progress_preview[0].extras.area_name }}</strong><br>
                                                    {{ indicator.progress_preview[0].year }}
                                                    <span  ng-if="indicator.progress_preview[0].groups.length">
                                                        ({{ indicator.progress_preview[0].groups.join(', ') }})
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="text-center chart-single-value col-xs-6">
                                                <h1 style="color: {{ theme.extras.color_primary }}">
                                                    {{ indicator.progress_preview[0].value|shortnumber }}
                                                </h1>
                                                <strong ng-if="indicator.progress_preview[0].extras.value_unit" class="subtitle">
                                                    {{ indicator.progress_preview[0].extras.value_unit }}
                                                </strong>
                                            </div>
                                        </div>
                                        <div ng-if="!indicator.progress_preview.length && !indicator.progress_count" class="text-transparent">
                                            <div class="text-muted text-center">
                                                <h2>
                                                    <span class="fa-stack fa-lg" aria-hidden="true">
                                                        <i class="fa fa-signal fa-stack-1x"></i>
                                                    </span>
                                                </h2>
                                                <span>No statistics yet</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="panel-footer text-right">
                                    <span ng-if="!indicator.progress_count"  class="label label-warning" translate>
                                        No statistics yet
                                    </span>
                                    <a class="btn btn-default btn-sm"
                                            ng-href="/indicators/{{ indicator.id }}/{{ indicator.slug }}"
                                            style="color: {{ theme.extras.color_primary }}">
                                        <i class="fa fa-line-chart"></i>
                                        <translate>View more</translate>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
